:root {
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --dark-red: #7F1517;
    --gray: #BDBDBD;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}
body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    background-color: #ffdd90;
    background-image: url("../utilities/Background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    border-bottom: 0.5px solid #1f0c0d;
    background-color: var(--dark-red);  
}
.navbar-brand{
    text-decoration: none;
    color: var(--white);
    font-size: 34px;
    line-height: 100%;
    stroke: #000000;
}
.navbar-brand{
    display:flexbox;
    align-items: flex-start;
}