section{
    margin:120px 30px 0 120px;
    width: 1700px;
}
.producto{
    margin: 1em;
    max-width: 280px;
    display: flex;
    flex-grow: column;
    border-radius: 6px;
    box-shadow: 0 0 1em rgb(rgb(255, 192, 144));
    background-color: orange;
    cursor: pointer;
}
.producto img{
    width: 250px;
    height: 250px;
    object-fit:cover;
}
.informacion{
    padding: 1em;
    display: flex;
    flex-flow: column;
}
.informacion * + *{
    margin-bottom: 1em;
    text-align: center;
}

.nombre{
    padding-top: 1em;
    font-weight: bolder;
    font-size: var(--lg);
}
.precio{
    font-weight: bold;
    font-size: var(--lg);
}